# Build outputs
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.ncrunch*
*.resharper

# Rider
.idea/

# NuGet packages
*.nupkg
*.snupkg
packages/

# User-specific files
*.userprefs

# Logs
src/UcarMobileApi/Logs/
Logs/

# publish
publish/

# Local settings
appsettings.*local.json

# Dotnet
*.DS_Store
*.dotCover
*.dotTrace


